<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41076482467-2719u69bk3ocl0rfdq0tkaoup0kf2p8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41076482467-2719u69bk3ocl0rfdq0tkaoup0kf2p8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCoku59n1cutUibvphJTMyKr2a5WptpohA</string>
	<key>GCM_SENDER_ID</key>
	<string>41076482467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.juniorChatApp</string>
	<key>PROJECT_ID</key>
	<string>juniorchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>juniorchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41076482467:ios:79bc51830728de9855fa16</string>
</dict>
</plist>